doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    style.
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      .header {
        text-align: center;
        padding: 20px 0;
      }
      .logo {
        max-width: 150px;
      }
      .content {
        padding: 20px;
        line-height: 1.4;
        color: #333333;
      }
      .footer {
        text-align: center;
        padding: 10px 0;
        color: #777777;
        font-size: 12px;
      }
  body
    .container
      .header
        img.logo(src="/assets/logo.svg", alt="Logo")
      .content
        h3 Hello, New message from #{name}
        p Email: #{email}
        p Phone: #{phone}
        p The message: #{message}
      .footer
        p &copy; #{new Date().getFullYear()} Ibrahim Ahmed. All rights reserved.
        p If you no longer wish to receive these emails, you can unsubscribe by clicking <a href="your-unsubscribe-link">here</a>.
